@import '../../../main.css';

.filter_button {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 100;
    background-color: var(--color-tertiary);
    border-radius: 10px 0 0 10px;
    border: 0px;
    padding: 10px;
}

.iets{
    filter: invert(100%) sepia(14%) saturate(473%) hue-rotate(153deg) brightness(98%) contrast(94%);
}