@import '../../../main.css';

.filter_button {
    position: fixed;
    top: 55%;
    right: 0;
    transform: translateY(-50%);
    z-index: 100;
    width: 15vw;
    height: 15vw;
    background-color: var(--color-tertiary);
    border-radius: 10px 0 0 10px;
    border: none;
}

.iets {
    width: 50px;
    filter: invert(100%) sepia(14%) saturate(473%) hue-rotate(153deg) brightness(98%) contrast(94%);
}