.homeCard{
    background-color: var(--color-primary);
    color: var(--color-white);
    position: relative;
    display: inline-block;
    max-width: 370px;
    border-radius: 34px;
    margin: 5vw;
}

#img{
    width: 100%;
    padding: 4%;
    border-radius: 34px;
    height: 245px;
}

#price{
    position: absolute;
    top: 8%;
    right: 8%;
    background-color: #04B900;
    padding: 5px 10px;
    border-radius: 20px;
}

#adres{
    position: absolute;
    top: 202.5px;
    left: 14px;
    background-color: var(--color-tertiary);
    padding: 5px 10px;
    border-radius: 0px 18px;
}

.tagList{
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 17px;
    margin-bottom: 10px;
}

.tag{
    margin-right: 4.5px;
    padding: 5px 10px;
    border-radius: 60px;
    background-color: var(--color-tertiary);
    width: fit-content;
    margin-bottom: 7px;
}

.tagname{
    margin: 0px;
    font-weight: 600;
}

.plotPopup{
    background-color: var(--color-primary);
    color: var(--color-white);
    display: inline-block;
    border-radius: 34px;
    margin: 0 50%;
    position: fixed;
    bottom: 10vh;
    transition: 0.1s;
    transform: translateX(-50%);
    width: 370px;
}

.hide{
    transform: translateX(-50%) translateY(150%);
}