.filter-overlay {
  display: block;
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 20px;
  position: fixed;
  top: 10%;
  right: 0;
  width: 100%;
  height: 80%;
  z-index: 1000;
}

.search-button, .close-overlay-button{
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.search-button{
  background-color: var(--color-tertiary);
}

.close-overlay-button {
  background-color: var(--color-orange);
}
.in-overlay-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.search-button, .close-overlay-button{
  width: 80vw;
  margin-top: 10px;
  font-size: 16px;
}

.dubblefilter{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.dropdownTitle{
  padding-top: 20px;
}

.subdropdownTitle{
  padding-top: 5px;
}