.filter-area{
    width: 100%;
    background-color: var(--color-white);
    padding: 2px 20px;
    margin-top: 40px;
}

.button-type{
    background-color: var(--color-tertiary);
    color: var(--color-white);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-type:hover {
    background-color: var(--color-tertiary-dark);
  }