
.dropdown-container{
    width: 250px;
    position: relative;
}

.input-container{
    position: relative;
    width: 100%;
}

.dropdown-container input{
    width: 100%;
    padding: 0;
    border-width: 1px;
    height: 36px;
    padding-left: 10px;
    box-sizing: border-box;
}

.input-arrow-container{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -2px;
    cursor: pointer;
}

.input-arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: translateY(45deg);
    -webkit-transform: rotate(45deg);
}

.option {
    height: 36px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
    background-color: white;
}

.option:hover{
    background-color: royalblue;
}

.dropdown {
    border: 1px solid black;
    border-bottom: none;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    display: none;
}

.dropdown.visible{
    display: block;
}

.input-clear-container{
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
