:root {
    --color-primary: #08192F;
    --color-secondary: #007bff;
    --color-tertiary: #706EBC;
    --color-tertiary-dark: #55529e;
    --color-white: #EDF2EF;
    --color-black: #000000;
    --color-orange: #FF4500;
}

*{
    margin: 0;
    padding: 0;
    font-family: roboto;
}

main{
    padding-bottom: 10vh;
}

@font-face {
    font-family: roboto;
    src: url(../public/Roboto-Regular.ttf);
}